{% for item in data %}
  <main id={{ "content-block-" ~ loop.index }} class="rich-content-block card position-absolute rounded-0 col-12 d-none">
    <section class="card-body ctgy-menu">
      {% for term in item %}
        <div class="ctgy-menu-item">
          <a class="ctgy-link" href={{ "/taxonomy/term/" ~ term['tid'] }}>
            {{ (term['term_name']) }}</a>
        </div>
      {% endfor %}
    </section>
  </main>
{% endfor %}
